PORT="3001"
NODE_ENV="development"

# ---------- DB ----------
DATABASE_URL="postgresql://db_user:db_password@localhost:5432/project?schema=public"

# ---------- SENTRY ----------
SENTRY_DSN="https://public_key@org.ingest.sentry.io/project"
SENTRY_ENVIRONMENT="development"
SENTRY_RELEASE=""
